.header
    padding-top: 1.3333rem
    padding-bottom: 1.3333rem
    background: $green
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5)
    &-logo
        margin-top: 0.2rem
    &-menu 
        padding-right: 11.3333rem
        &__item
            font-size: 1rem
            line-height: 1.0667rem
            margin-right: 3rem
            &:hover
                text-shadow: 0 0 0.3rem $white
                transition: all 400ms
    &-authoriz
        &__item
            font-size: 0.9333rem
            line-height: 1.2rem
            margin-right: 2.3333rem
            &:hover
                text-shadow: 0 0 0.2rem $white
                transition: all 400ms
        &__button
            padding: 0.6667rem 2.3333rem
            line-height: 1.0667rem