.header
    padding-top: 20px
    padding-bottom: 20px
    background: $green
    &-menu 
        padding-right: 170px
        &__item
            font-size: 15px
            line-height: 16px
            margin-right: 45px
            &:hover
                color: $blue
                text-shadow: 0 0 10px $blue
                transition: all 400ms
    &-authoriz
        &__item
            font-size: 14px
            line-height: 18px
            margin-right: 35px
            &:hover
                color: $blue
                text-shadow: 0 0 10px $blue
                transition: all 400ms
        &__button
            padding: 10px 35px