.promo
    background-color: $green
    padding-bottom: 3.3333rem
    &-container
        display: flex
    &-text
        padding-top: 6.6667rem
        width: 35.3333rem
        &__buttons
            display: flex
            justify-content: space-between
            padding-left: 0.6667rem
            padding-right: 0.6667rem
        &__btn
            text-transform: capitalize
            padding: 0.4667rem 1rem
            background: rgba(255, 255, 255, 0.287)
            border-radius: 2.2rem
            color: $white
            line-height: 1rem
            margin-bottom: 1.3333rem
            &:hover
                box-shadow: 0 0 0.4rem $gray
                text-shadow: 0 0 0.6rem $white
                transition: all 400ms
        &__title
            text-transform: capitalize
            font-size: 4rem
            line-height: 80px
            font-weight: 400
            margin-bottom: 10px
        &__desc
            font-size: 18px
            line-height: 26px
            margin-bottom: 45px
        &__button
            padding: 15px 90px
            

            